@import "../../colors"; 
@import "../../typography"; 

.tarieven-container { 
    @include mainText; 
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-image: url("../../media/images/VectorRight.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-top: 20px;
    padding-right: 150px;
    p { 
        padding: 20px;
    }
    h2 { 
        @include accentColor; 
        font-size: 42px;
        margin-top: 50px;
    }
    .tarieven-box { 
        width: 100%; 
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}