@import "../../colors";
@import "../../typography"; 

.navbar-container { 
    position: relative; 
    width: 100%; 
    height: 120px;
    position:fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 20px 2px rgb(160, 153, 153);
    @include navColor;
    @include mainText; 
    a { 
        text-decoration: none;
    }
    .navbar-logo { 
        margin-left: 30px; 
        text-decoration: none;
        font-size: 2.4rem;
        color: rgb(149, 93, 102); 
        &:hover { 
            color: rgb(182, 138, 138); 
            cursor: pointer;
        }
    }
    .navbar-links-container { 
        margin-right: 70px; 
        a { 
            color: black; 
            font-size: 1.5rem;
            margin: 10px;
            &:hover { 
                color: rgb(182, 138, 138);  
            } 
        }
    }
    .navbar-socials { 
        display: flex;
        flex-direction: column;
        position: absolute; 
        right: 20px; 
        top: 150px; 
        a { 
            color: black; 
            &:hover { 
                transform: scale(1.05);
                transition: ease-in-out;
            }
        }
        .navbar-socials-instagram { 
            &:hover { 
                color: #e1306c;
            }
        }
        .navbar-socials-email { 
            &:hover { 
                color: rgb(113, 174, 231); 
            }
        }
    }
}