@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Patrick+Hand&family=Titillium+Web:wght@300&display=swap");
.navbar-container {
  position: relative;
  width: 100vw;
  max-width: 1600px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
  background-color: #7D8779;
  font-family: 'Patrick Hand', cursive;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-container .navbar-logo {
  margin-left: 30px;
  text-decoration: none;
  width: 180px;
}

@media (max-width: 650px) {
  .navbar-container .navbar-logo {
    width: 120px;
  }
}

.navbar-container .navbar-logo:hover {
  color: #b68a8a;
  cursor: pointer;
}

.navbar-container .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar-container .navbar-links-container {
  margin-right: 20px;
}

.navbar-container .navbar-links-container a {
  color: white;
  font-size: 1.5rem;
  margin: 10px;
}

.navbar-container .navbar-links-container a:hover {
  color: #b68a8a;
}

@media (max-width: 968px) {
  .navbar-container .navbar-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    top: 140px;
    width: 85%;
    height: 50vh;
    z-index: 10;
    border-radius: 0px 20px 20px 0px;
    -webkit-transform: translateX(-850px);
            transform: translateX(-850px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: #7D8779;
  }
  .navbar-container .navbar-links-container a {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  .navbar-container .navbar-links-container {
    width: 100%;
  }
}

.navbar-container .hamburger-menu {
  margin-right: 20px;
}

.navbar-container .hamburger-menu-close {
  display: none;
}

.navbar-container .nav-toggled {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar-container .navbar-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 20px;
  top: 150px;
}

@media (max-width: 968px) {
  .navbar-container .navbar-socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 145px;
    right: 5px;
  }
  .navbar-container .navbar-socials a {
    margin-right: 10px;
  }
}

.navbar-container .navbar-socials a {
  color: black;
}

.navbar-container .navbar-socials a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.navbar-container .navbar-socials .navbar-socials-instagram:hover {
  color: #e1306c;
}

.navbar-container .navbar-socials .navbar-socials-email:hover {
  color: #71aee7;
}

.navbar-container .navbar-socials .navbar-socials-whatsApp:hover {
  color: #7cc87c;
}
/*# sourceMappingURL=navBar.css.map */