@import "../../colors";
@import "../../typography";
@import "../../mediaQueries"; 

.footer-container { 
    width: 100%;
    max-width: 1600px; 
    height: 80px;
    border-radius: 20px 20px 0px 0px;
    @include navColor;
    @include mainText; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    p { 
        color: rgb(78, 75, 75); 
    }
    a { 
        @include linkColor;
        text-decoration: none;
        font-size: 20px;
        &:hover { 
            @include linkHoverColor; 
        }
    }
    @include for-custom-media(480px) { 
        p { 
            font-size: 12px;
        }
        a { 
            font-size: 14px;
        }
    }
}