@mixin navColor { 
    background-color: #7D8779; 
}

@mixin pageColor { 
    background: rgb(247,250,245);
    background: linear-gradient(180deg, rgba(247,250,245,1) 0%, rgba(234,255,233,1) 100%); 
}

@mixin vectorColor { 
    background-color: #DECAD5; 
}

@mixin accentColor { 
    color: #DECAD5; 
}